<h3>Artist Form<h3>

<%= form_for(@artist) do |form| %>
  <label>Artist name:</label><br>
  <%= form.text_field :name %><br>

  <label>Artist Bio</label><br>
  <%= form.text_area :bio %><br>

  <%= form.submit %>
<% end %>